<h1 mat-dialog-title>Hi, {{data.username}}</h1>
<div mat-dialog-content>
  <p>{{ data.info }} </p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>